

html, body{
    overflow-x: hidden;
    background-color: #0d0d2b !important;

}
.p-text{
    font-size: smaller;
}
.fest-img{
    width: 85% !important;
}
.eth{
    color: #0d0d2b !important;
}
.bradius{
    border-radius: 20px;
    
}
.nlb{
    background-image: url(../img/newsletter-box.png);
    background-repeat: no-repeat;
}
.bgg{
    background-color: inherit !important;
    color: white !important;
}
.svgg{
    width: 20% !important;
   
    padding: 15px;
}
.margint{
    margin-bottom: -170px !important;
    /* z-index: 9 !important;  */
}
.empty{
    min-height: 150px;
    z-index: 8;
}
.fast{
    font-size: 53px !important;
    /* border-radius: 70% !important; */
}